<router-outlet></router-outlet>

    <!-- app.component.html -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Best Reads</a>
      <!-- Toggler/collapsible Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MyBooks</a>
          </li>
          <!-- Dropdown for Browse -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBrowse" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Browse
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownBrowse">
              <a class="dropdown-item" href="#">Recommendations</a>
              <a class="dropdown-item" href="#">New Releases</a>
              <a class="dropdown-item" href="#">Explore</a>
            </div>
          </li>
          <!-- Dropdown for Community -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCommunity" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownCommunity">
              <a class="dropdown-item" href="#">Groups</a>
              <a class="dropdown-item" href="#">Discussions</a>
              <a class="dropdown-item" href="#">People</a>
            </div>
          </li>
        </ul>
        <!-- Search bar -->
        <form class="form-inline my-2 my-lg-0 ml-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">   
        </form>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </nav>
  
