<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened="true" position="end">
      <mat-nav-list>
        <h3>BestReads Choice Awards</h3>
        <mat-divider></mat-divider>
        <h3>Recommendations</h3>
        <mat-divider></mat-divider>
        <h3>News & Interviews</h3>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Main content will go here -->
      <p>Main content</p>
    </mat-sidenav-content>
  </mat-sidenav-container>